APP_ENV=local
APP_DEBUG=false
APP_KEY=P2PnArHIfoWIno3F2c8WvTQrK5XPPcTp
APP_URL=http://localhost

DB_CONNECTION=mysql
#DB_HOST=mysql.hostinger.com.br
DB_PORT=3306
DB_DATABASE=u713263606_visit
DB_USERNAME=u713263606_visit
DB_PASSWORD=sld@13026.335

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAILGUN_DOMAIN=mg.sergiodobri.com
MAIL_USERNAME=postmaster@mg.sergiodobri.com
MAILGUN_SECRET=key-3fd1b00cd3e457d23295931ffa492c7f
MAIL_FROM=suporte@sergiodobri.com
MAIL_NAME=Suporte

TWITTER_CONSUMER_KEY=4eotjA32OERHU8theaenGmrIU
TWITTER_CONSUMER_SECRET=rBJgmBw4LNq4Le1GDHwRQJx0ucOJclNi9MMzlHmnSJCglBNrV4
TWITTER_ACCESS_TOKEN=724116488651706368-pnjHgsNlwId3JNnSrYo136ygCSK1Viq
TWITTER_ACCESS_TOKEN_SECRET=cDdIMwqk2xWtR4vAFzirB8FaSEi1u3hFWycaSdOimAMiI
